html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 151.2rem;
}
.digiglobe-outsourcing-section-StX {
  box-sizing: border-box;
  padding: 10.4rem 0rem 17.3rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX .auto-group-wzkz-z2s {
  width: 100%;
  height: 147.4rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .auto-group-wzkz-z2s .partners-section-5iX {
  width: 151.2rem;
  height: 66.6rem;
  position: absolute;
  left: 0;
  top: 80.8rem;
  overflow: hidden;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .vector-zKh {
  filter: hue-rotate(260deg);

  width: 85.6121rem;
  height: 74.0706rem;
  position: absolute;
  left: 0;
  top: 0.2716rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .vector-6tX {
  filter: hue-rotate(260deg);
  width: 41.0729rem;
  height: 7.6678rem;
  position: absolute;
  left: 71.0636rem;
  top: 15.4267rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .title-pZd {
  width: 67.5rem;
  height: 14.1rem;
  position: absolute;
  left: 41.85rem;
  top: 6.4rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj {
  box-sizing: border-box;
  padding: 6.9rem 0rem 7.2rem 10.4rem;
  width: 150.8rem;
  height: 34rem;
  position: absolute;
  left: 16rem;
  top: 26.2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.4rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .title-description-9EX {
  margin: 0rem 7.4rem 3rem 0rem;
  width: 49rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .title-description-9EX
  .title-dfV {
  margin-bottom: 1.2rem;
  width: 100%;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .title-description-9EX
  .description-4PR {
  max-width: 49rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV {
  color: #f1f6f9;
  margin-top: 0.3rem;
  height: 19.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ {
  color: #f1f6f9;
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding: 2.4rem 2.3rem 4.8rem 2.4rem;
  width: 40.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #14274e;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .logo-time-c3Z {
  color: #f1f6f9;
  margin: 0rem 3.3rem 1.2rem 0rem;
  width: calc(100% - 3.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .logo-time-c3Z
  .logo-va3 {
  color: #f1f6f9;
  margin-right: 16.7rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .logo-time-c3Z
  .time-pfR {
  color: #f1f6f9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .logo-time-c3Z
  .time-pfR
  .time-pfR-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .logo-time-c3Z
  .time-pfR
  .time-pfR-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-JoZ
  .description-KPD {
  max-width: 35.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 40.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #14274e;

  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .logo-time-vP1 {
  margin: 0rem 2.7rem 1.2rem 0rem;
  width: calc(100% - 2.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .logo-time-vP1
  .logo-FRH {
  margin-right: 17.2rem;
  width: 4rem;
  height: 4.0033rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .logo-time-vP1
  .time-aiT {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .logo-time-vP1
  .time-aiT
  .time-aiT-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .logo-time-vP1
  .time-aiT
  .time-aiT-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .partners-section-5iX
  .partners-content-GAj
  .parthers-cards-yFV
  .parthers-card-pas
  .description-wSX {
  margin-right: 3.5rem;
  max-width: 32.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .auto-group-wzkz-z2s .hero-section-coZ {
  width: 178.9888rem;
  height: 84.9rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7 {
  margin: 0rem 0.75rem 3.196rem 0rem;
  width: 120.85rem;
  height: 90.7036rem;
  /* height: 75.7036rem; */
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .line-rT1 {
  /* background-color: #279EFF; */
  /* color: #279EFF; Set the base color to #279EFF */
  filter: hue-rotate(260deg);
  width: 44.0488rem;
  height: 80.4036rem;
  position: absolute;
  left: 0;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .hands2-PSw {
  width: 41.4rem;
  height: 21.7rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 182.094% 252.754%;
  background-position: 0 0;
  background-image: url("../assets/hands2-cTy.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR {
  width: 96rem;
  height: 52.8rem;
  position: absolute;
  left: 27.6rem;
  top: 14.8rem;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .auto-group-scey-M2P {
  width: 100%;
  height: 33.6rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .auto-group-scey-M2P
  .line-5UB {
  filter: hue-rotate(260deg);

  width: 62.631rem;
  height: 12.9406rem;
  position: absolute;
  left: 6rem;
  top: 10.3rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .auto-group-scey-M2P
  .slogan-bBd {
  width: 96rem;
  height: 33.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 11.2rem;
  font-weight: 700;
  line-height: 1;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .description-6eB {
  max-width: 69.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .input-de7 {
  margin: 0 19.65rem;
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.8rem 4rem;
  width: calc(100% - 39.3rem);
  height: 6.4rem;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .input-de7
  .content-XzP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .input-de7
  .content-XzP
  .supporting-text-VgK {
  margin: 0rem 17rem 0.2rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .content-HHR
  .input-de7
  .content-XzP
  .button-zsy {
  width: 10.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.018rem;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  background-color: #14274e;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .remove-bg-1-F3D {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 6.0678rem;
  height: 7.8817rem;
  position: relative;
  left: 20.7rem;
  top: 26.5rem;
  background-size: 219.672% 136.735%;
  background-position: -3.6669rem -1.7325rem;
  background-image: url("../assets/remove-bg-1.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .fb-1-1-1-hR1 {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */

  width: 6.8328rem;
  height: 6.7249rem;
  position: relative;
  left: 13.2rem;
  top: 70.7rem;
  background-size: 204.778% 159.683%;
  background-position: -3.6638rem -1.5905rem;
  background-image: url("../assets/fb-1-1-1.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-sjgy-Yx7
  .inst-1-1-2-6i3 {
  width: 3.4701rem;
  height: 3.442rem;
  position: relative;
  left: 3.5487rem;
  top: 34.4394rem;
  background-size: 205.479% 158.566%;
  background-position: -1.8668rem -0.8129rem;
  background-image: url("../assets/inst-1-1-2.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7 {
  width: 40.3888rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .fb-1-1-2-tdu {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  margin: 0rem 0rem 2.72rem 6.946rem;
  width: 4.2352rem;
  height: 4.1798rem;
  position: relative;
  background-size: 204.778% 159.683%;
  background-position: -2.2692rem -0.9977rem;
  background-image: url("../assets/fb-1-1-2.png");
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .auto-group-hnof-ZV9 {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .auto-group-hnof-ZV9
  .hands2-hbM {
  width: 40.3rem;
  height: 42.6rem;
  position: relative;
  left: 0;
  top: 20.6rem;
  background-size: 218.579% 150.086%;
  background-position: -47.7874rem -21.3367rem;
  background-image: url("../assets/hands2.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .auto-group-hnof-ZV9
  .remove-bg-1-af9 {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 8.1683rem;
  height: 11.4186rem;
  position: relative;
  left: 1.15rem;
  top: 2.7rem;
  background-size: 219.672% 136.735%;
  background-position: -4.9422rem -2.5275rem;
  background-image: url("../assets/remove-bg-1-2gX.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .auto-group-hnof-ZV9
  .line-gCP {
  filter: hue-rotate(260deg);

  width: 37.6388rem;
  height: 50.7353rem;
  position: absolute;
  left: 2.75rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-wzkz-z2s
  .hero-section-coZ
  .auto-group-agar-AC7
  .auto-group-hnof-ZV9
  .ytb-1-1-2-DTD {
  width: 4.5039rem;
  height: 4.0124rem;
  position: relative;
  left: 6.55rem;
  top: 43.4872rem;
  background-size: 134.529% 187.793%;
  background-position: -0.7942rem -1.7383rem;
}
.digiglobe-outsourcing-section-StX .auto-group-uggm-GgP {
  width: 100%;
  height: 328.1rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj {
  box-sizing: border-box;
  padding: 6.4rem 25.05rem 6.4rem 24.5rem;
  width: 151.2rem;
  height: 180.1rem;
  position: absolute;
  left: 0;
  top: 148rem;
  overflow: hidden;
  row-gap: 6.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5 {
  margin: 0rem 1.9rem 0rem 2.45rem;
  width: calc(100% - 4.35rem);
  height: 51.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .title-description-BRy {
  margin-right: 5.55rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .title-description-BRy
  .title-86K {
  margin-top: 6rem;
  margin-bottom: 1.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .title-description-BRy
  .description-T8b {
  max-width: 37.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9 {
  width: 51.8rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .vector-4-XPM {
  width: 27.75rem;
  height: 40.35rem;
  position: absolute;
  left: 14.5rem;
  top: 10.85rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .vector-5-D1H {
  width: 10.1rem;
  height: 23.4rem;
  position: absolute;
  left: 7.6rem;
  top: 26.95rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .image-iij {
  width: 51.8rem;
  height: 51.5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 149.131% 100%;
  background-image: url("../assets/image.png");
  filter: hue-rotate(260deg);
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .rectangle-32-ESB {
  width: 51.8rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 35.7rem;
  background: linear-gradient(180deg, rgba(248, 245, 240, 0) -0%, #f8f5f0 100%);
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .remove-bg-1-vZu {
  width: 7.3415rem;
  height: 8.2513rem;
  position: relative;
  left: 36rem;
  top: 19.8rem;
  background-size: 219.672% 136.735%;
  background-position: -4.429rem -1.8003rem;
  background-image: url("../assets/remove-bg-1-EnK.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-sw5
  .illustration-PH9
  .remove-bg-2-Qjy {
  width: 10.1372rem;
  height: 12.2713rem;
  position: relative;
  left: 3.6rem;
  top: 10.9rem;
  background-size: 219.672% 136.735%;
  background-position: -6.1203rem -2.6841rem;
  background-image: url("../assets/remove-bg-2.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB {
  margin-right: 1.75rem;
  width: calc(100% - 1.75rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .illustration-3Y3 {
  margin: 8.4rem 3.2rem 0rem 0rem;
  width: 51.8rem;
  height: 43.1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .illustration-3Y3
  .vector-6-kxF {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 45.8rem;
  height: 40.25rem;
  position: absolute;
  left: 1.1rem;
  top: 2.65rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .illustration-3Y3
  .image-t2s {
  width: 51.8rem;
  height: 43.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 124.807% 100%;
  background-position: -6.425rem -0rem;
  background-image: url("../assets/image-hxK.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .illustration-3Y3
  .rectangle-32-awH {
  width: 51.8rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 27.3rem;
  background: linear-gradient(180deg, rgba(248, 245, 240, 0) -0%, #f8f5f0 100%);
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .illustration-3Y3
  .remove-bg-3-VoM {
  width: 18.9rem;
  height: 18.9rem;
  position: absolute;
  left: 6.7rem;
  top: 10.6rem;
  object-fit: cover;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .title-description-p4w {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .title-description-p4w
  .title-mVy {
  margin-bottom: 1.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1f392c;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .title-description-p4w
  .title-mVy
  .title-mVy-sub-0 {
  color: #14274e;
  margin-right: 1rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .title-description-p4w
  .title-mVy
  .title-mVy-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-hUB
  .title-description-p4w
  .description-vXH {
  max-width: 39.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw {
  margin-left: 0.55rem;
  width: calc(100% - 0.55rem);
  height: 51.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .title-description-Bi7 {
  margin-right: 5.55rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .title-description-Bi7
  .title-8tF {
  margin-bottom: 1.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .title-description-Bi7
  .title-8tF
  .title-8tF-sub-0 {
  /* color: #14274E; */
  margin-right: 1rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .title-description-Bi7
  .title-8tF
  .title-8tF-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .title-description-Bi7
  .description-9YT {
  max-width: 32.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .illustration-fWo {
  width: 51.8rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .illustration-fWo
  .vector-7-a7y {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 40.2rem;
  height: 47.5925rem;
  position: absolute;
  left: 4.25rem;
  top: 3.7075rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .illustration-fWo
  .image-Fju {
  width: 51.8rem;
  height: 51.5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 149.131% 100%;
  background-position: -12.775rem 0;
  background-image: url("../assets/image-Nyu.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .illustration-fWo
  .rectangle-32-j9H {
  width: 51.8rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 35.7rem;
  background: linear-gradient(180deg, rgba(248, 245, 240, 0) -0%, #f8f5f0 100%);
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-3-DLj
  .step-rQw
  .illustration-fWo
  .group-2-dVZ {
  width: 11.0038rem;
  height: 12.8296rem;
  position: absolute;
  left: 6.2468rem;
  top: 7.1837rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7 {
  width: 171.7668rem;
  height: 90.0204rem;
  position: absolute;
  left: 0;
  top: 70.6796rem;
  display: flex;
  align-items: flex-end;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455 {
  margin: 0rem 4.5rem 6.405rem 0rem;
  /* width: 118.9rem; */
  width: 110.9rem;
  height: 83.6158rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .vector-mEP {
  filter: hue-rotate(260deg);
  width: 59.3656rem;
  height: 70.1954rem;
  position: absolute;
  left: 0;
  top: 13.4204rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .title-hNw {
  width: 62.1rem;
  height: 21.2rem;
  position: absolute;
  left: 44.55rem;
  top: 19.8204rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .subtitle-U2K {
  width: 68.2rem;
  height: 12.1rem;
  position: absolute;
  left: 41.5rem;
  top: 46.3204rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .description-AQw {
  width: 69rem;
  height: 6.4rem;
  position: absolute;
  left: 41.1rem;
  top: 64.1204rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .description-AQw
  .description-AQw-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .description-AQw
  .description-AQw-sub-1 {
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .description-AQw
  .description-AQw-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .description-AQw
  .description-AQw-sub-3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .hands3-hSo {
  width: 43.9761rem;
  height: 49.611rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 200.503% 206.552%;
  background-position: -7.8768rem -4.4546rem;
  background-image: url("../assets/hands3-bg.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .hands3-hSo
  .hands3-hSo-bg {
  width: 43.9761rem;
  height: 49.611rem;
  position: relative;
  background-image: url("REPLACE_IMAGE:f9775a8a04adfbb6d9f112f67f6d0d93c731f708");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-opvh-455
  .like-1-1-1-ZE7 {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 14.1971rem;
  height: 12.8604rem;
  position: relative;
  left: 21rem;
  top: 41.4203rem;
  background-size: 218.182% 201.713%;
  background-position: -8.2797rem -7.0315rem;
  background-image: url("../assets/like-1-1-1.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-lwed-D3m {
  width: 48.3668rem;
  height: 63.6rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-lwed-D3m
  .hands3-MQs {
  width: 31.7rem;
  height: 43.3rem;
  position: absolute;
  left: 4.9rem;
  top: 20.3rem;
  background-size: 168.71% 185.449%;
  background-position: -21.7812rem -36.9994rem;
  background-image: url("../assets/hands3-bg-P3V.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-lwed-D3m
  .hands3-MQs
  .hands3-MQs-bg {
  width: 31.7rem;
  height: 43.3rem;
  position: relative;
  background-image: url("REPLACE_IMAGE:f9775a8a04adfbb6d9f112f67f6d0d93c731f708");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-lwed-D3m
  .vector-Rfd {
  filter: hue-rotate(260deg);
  width: 36.6668rem;
  height: 46.4841rem;
  position: absolute;
  left: 11.7rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-2-8x7
  .auto-group-lwed-D3m
  .like-1-1-2-AdD {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */

  width: 14.1971rem;
  height: 12.8604rem;
  position: relative;
  left: 0;
  top: 8.5rem;
  background-size: 218.182% 201.713%;
  background-position: -8.2797rem -7.0315rem;
  background-image: url("../assets/like-1-1-2.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP {
  box-sizing: border-box;
  padding: 6.4rem 29.5rem 6.4rem 32.6rem;
  width: 151.2rem;
  height: 84.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f5f0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .title-w1h {
  margin: 0rem 3.1rem 5.7rem 0rem;
  max-width: 77.6rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy {
  width: 100%;
  height: 51.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .vector-2-wR1 {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 16.25rem;
  height: 32.35rem;
  position: absolute;
  left: 48.4rem;
  top: 18.55rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .vector-3-4Vd {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 13.7rem;
  height: 34.95rem;
  position: absolute;
  left: 16.3rem;
  top: 14.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .rectangle-33-Bq9 {
  color: #f1f6f9;
  width: 17.7rem;
  height: 8.8rem;
  position: absolute;
  left: 25.6rem;
  top: 13.3rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .vector-1-iaB {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 31.3447rem;
  height: 16.4035rem;
  position: absolute;
  left: 19.2rem;
  top: 2.4965rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .woman-1-FKD {
  filter: hue-rotate(260deg);
  width: 77.3rem;
  height: 51.5rem;
  position: absolute;
  left: 5.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .rectangle-32-PAX {
  width: 89.1rem;
  height: 15.8rem;
  position: absolute;
  left: 0;
  top: 35.7rem;
  background: linear-gradient(180deg, rgba(248, 245, 240, 0) -0%, #f8f5f0 100%);
  color: #f1f6f9;
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .fb-1-1-2-tsy {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */

  width: 4.2352rem;
  height: 4.1798rem;
  position: relative;
  left: 66.4015rem;
  top: 23.1109rem;
  background-size: 204.778% 159.683%;
  background-position: -2.2692rem -0.9977rem;
  background-image: url("../assets/fb-1-1-2-8d5.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .fb-1-1-3-B6P {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */

  width: 2.1781rem;
  height: 2.1602rem;
  position: relative;
  left: 52.6rem;
  top: 1.7rem;
  background-size: 204.778% 159.683%;
  background-position: -1.1658rem -0.5221rem;
  background-image: url("../assets/fb-1-1-3.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .inst-1-1-1-4fy {
  filter: hue-rotate(
    10deg
  ); /* Adjust the hue value for different shades of blue */
  width: 7.7887rem;
  height: 7.7117rem;
  position: relative;
  left: 64.4rem;
  top: 36.9rem;
  background-size: 205.479% 158.566%;
  background-position: -4.1929rem -1.8053rem;
  background-image: url("../assets/inst-1-1-1.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .inst-1-1-4-Yr3 {
  width: 1.4852rem;
  height: 1.4706rem;
  position: relative;
  left: 81.7rem;
  top: 14.7rem;
  background-size: 205.479% 158.566%;
  background-position: -0.7996rem -0.3443rem;
  background-image: url("../assets/inst-1-1-4.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .inst-1-1-2-3H1 {
  filter: hue-rotate(
    10deg
  ); /* Adjust the hue value for different shades of blue */
  width: 5.7675rem;
  height: 5.7207rem;
  position: relative;
  left: 11.0954rem;
  top: 26.1875rem;
  background-size: 205.479% 158.566%;
  background-position: -3.1027rem -1.3511rem;
  background-image: url("../assets/inst-1-1-2-Va7.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .inst-1-1-3-jfd {
  width: 1.769rem;
  height: 1.7483rem;
  position: relative;
  left: 1.1962rem;
  top: 14.2474rem;
  background-size: 205.479% 158.566%;
  background-position: -0.9531rem -0.405rem;
  background-image: url("../assets/inst-1-1-3.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .ytb-1-1-4-EcP {
  width: 1.9rem;
  height: 1.9521rem;
  position: relative;
  left: 4rem;
  top: 37.9rem;
  background-size: 134.529% 187.793%;
  background-position: -0.3346rem -0.8435rem;
  background-image: url("../assets/ytb-1-1-4.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .ytb-1-1-1-j3M {
  filter: hue-rotate(
    20deg
  ); /* Adjust the hue value for different shades of blue */
  width: 12.6553rem;
  height: 10.9112rem;
  position: relative;
  left: 60.7rem;
  top: 3.9rem;
  background-size: 134.529% 187.793%;
  background-position: -2.2326rem -4.7239rem;
  background-image: url("../assets/ytb-1-1-1.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .ytb-1-1-3-b5Z {
  width: 2.8029rem;
  height: 2.4166rem;
  position: relative;
  left: 77.2rem;
  top: 34.5rem;
  background-size: 134.529% 187.793%;
  background-position: -0.4945rem -1.0462rem;
  background-image: url("../assets/ytb-1-1-3.png");
}
.digiglobe-outsourcing-section-StX
  .auto-group-uggm-GgP
  .how-we-work-section-1-eYP
  .illustration-image-qMy
  .ytb-1-1-2-GhV {
  width: 6.5435rem;
  height: 5.5762rem;
  position: relative;
  left: 17.9rem;
  top: 40.8rem;
  background-size: 134.529% 187.793%;
  background-position: -1.1546rem -2.4134rem;
  background-image: url("../assets/ytb-1-1-2.png");
}
.digiglobe-outsourcing-section-StX .review-section-k6s {
  margin-bottom: 6.4rem;
  box-sizing: border-box;
  padding: 6.4rem 0rem 6.4rem 16rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f5f0;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .review-section-k6s .description-qu1 {
  margin: 0rem 16rem 6.4rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .review-section-k6s .title-jjV {
  color: #14274e;
  margin: 0rem 44.8rem 5.85rem 0rem;
  width: 90.4rem;
  height: 13.9497rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-31-FSw {
  width: 90.4rem;
  height: 7.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-31-FSw
  .title-P3M {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-31-FSw
  .auto-group-92bx-unP {
  box-sizing: border-box;
  padding-left: 1.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-31-FSw
  .auto-group-92bx-unP
  .frame-30-FbM {
  margin: 0.15rem 1.6rem 0rem 0rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-31-FSw
  .auto-group-92bx-unP
  .title-xEs {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9 {
  width: 88.7rem;
  height: 7.2497rem;
  position: absolute;
  left: 0;
  top: 6.7rem;
  display: flex;
  align-items: flex-start;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .title-cKR {
  margin-right: 1.9rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .auto-group-fhyz-9KM {
  margin-right: 1.2664rem;
  width: 62.2336rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .auto-group-fhyz-9KM
  .vector-5D1 {
  filter: hue-rotate(260deg);

  width: 56.4336rem;
  height: 7.0497rem;
  position: absolute;
  left: 5.8rem;
  top: 0.2rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .auto-group-fhyz-9KM
  .frame-30-zas {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0.15rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .auto-group-fhyz-9KM
  .title-X51 {
  width: 53.3rem;
  height: 7.1rem;
  position: absolute;
  left: 8rem;
  top: 0;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .title-jjV
  .frame-32-HH9
  .frame-31-cs9 {
  margin-top: 0.15rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .review-section-k6s .auto-group-dwa5-jwm {
  margin: 0rem 75rem 5.779rem 0rem;
  width: 60.2rem;
  height: 7.3208rem;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .auto-group-dwa5-jwm
  .title-Tcs {
  width: 60.2rem;
  height: 7.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .auto-group-dwa5-jwm
  .vector-NUw {
  filter: hue-rotate(260deg);
  width: 17.0714rem;
  height: 1.2208rem;
  position: absolute;
  left: 16.8rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .subtitle-icon-buttons-6vj {
  margin: 0rem 8rem 5.7rem 0rem;
  width: calc(100% - 8rem);
  height: 8.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .subtitle-icon-buttons-6vj
  .subtitle-pbq {
  margin-right: 77.4rem;
  max-width: 40.2rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .subtitle-icon-buttons-6vj
  .icon-buttons-xCF {
  margin: 1.8rem 0rem 2.3rem 0rem;
  height: calc(100% - 4.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .subtitle-icon-buttons-6vj
  .icon-buttons-xCF
  .icon-button-4m5 {
  margin-right: 1.6rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .subtitle-icon-buttons-6vj
  .icon-buttons-xCF
  .icon-button-z8w {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .review-section-k6s .cards-Wd5 {
  width: 158.8rem;
  height: 35.2rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-qvF {
  box-sizing: border-box;
  padding: 2.4rem 6.8rem 5.6rem 5.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #14274e;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-qvF
  .avatar-Ypf {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-qvF
  .name-VE7 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.032rem;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-qvF
  .description-R7m {
  max-width: 38.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-XRh {
  color: #f1f6f9;
  box-sizing: border-box;
  padding: 2.4rem 6.8rem 5.6rem 5.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #14274e;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-XRh
  .avatar-S2s {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-XRh
  .name-AUf {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.032rem;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-XRh
  .description-gxo {
  max-width: 38.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-Cw9 {
  box-sizing: border-box;
  padding: 2.4rem 6.8rem 5.6rem 5.6rem;
  width: 50.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #14274e;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-Cw9
  .avatar-JzB {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-Cw9
  .name-qz7 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.032rem;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .review-section-k6s
  .cards-Wd5
  .review-card-Cw9
  .description-yaX {
  max-width: 38.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .reliability-fy9 {
  margin: 0 16rem;
  width: calc(100% - 32rem);
  height: 51.5rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .reliability-fy9 .cards-cNb {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7 {
  color: #f1f6f9;
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding: 5.6rem 0;
  width: 58rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #14274e;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP
  .logo-19q {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP
  .logo-Y9m {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP
  .logo-5Qb {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP
  .logo-dBD {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-4kP
  .logo-yF5 {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm {
  filter: hue-rotate(
    240deg
  ); /* Adjust the hue value for different shades of blue */
  margin-bottom: 1.9rem;
  width: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm
  .logo-eMD {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm
  .logo-Brw {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm
  .logo-iby {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm
  .logo-rTH {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .logos-hwm
  .logo-b9y {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .logos-description-card-AQ7
  .description-XpK {
  margin-right: 7.4rem;
  max-width: 39.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f6f9;
  font-family: SF Pro Text, "Source Sans Pro";
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX .reliability-fy9 .cards-cNb .info-card-dcT {
  box-sizing: border-box;
  padding: 5.6rem 5.6rem 21.6rem 5.6rem;
  width: 58rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .info-card-dcT
  .title-kwy {
  margin-bottom: 1.2rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #14274e;
  font-family: SF Pro Display, "Source Sans Pro";
  white-space: nowrap;
}
.digiglobe-outsourcing-section-StX
  .reliability-fy9
  .cards-cNb
  .info-card-dcT
  .description-6kw {
  max-width: 39.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1f392c;
  font-family: SF Pro Text, "Source Sans Pro";
}
